body, input, button
{
    font-family: Century Gothic, sans-serif;
    font-size: 1.2em;
}

body
{
    margin-left: 0;
    margin-right: 0;
}

html
{
    background: #e3e3e0;
}

a
{
    text-decoration: none;
}

:focus, :active
{
    outline: 0;
}

*
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.floatingHeader
{
    position: fixed;
    top: 0;
    visibility: hidden;
}

#accordion .ui-corner-all
{
    border-radius: 0px;
}

#accordion
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
}

.gl-desktop #accordion
{
    margin-left: 20%;
    margin-right: 20%;
}


/*#accordion .ui-state-active, .ui-widget-content .ui-state-active,
 #accordion .ui-widget-header .ui-state-active {
    border-color: #e3e3e0;
}*/

#accordion .ui-widget-content
{
    background: white;
}

#accordion .ui-accordion-content-active
{
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

#accordion .ui-accordion-content, #r-settings-dialog, .a-settings-error
{
    background-color: white;
    border-color: #F4F4F4;
    height: auto;
    padding: 5px;
    text-shadow: 0 1px #000000;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    color: #737373;
    line-height: 16pt;
    font-size: 13px;
}

.a-settings-error
{
    color: orange;
    font-weight: bold;
}

#accordion .ui-accordion-content > *
{
    margin: 0;
    padding: 10px;
}

#accordion .ui-accordion-header.ui-state-hover
{
    background-color: white;
    border-color: #F4F4F4;
}


#accordion .ui-accordion-header.ui-state-default.ui-corner-all
{
    border: 0;
    -moz-box-shadow: 0 0 1px #888;
    -webkit-box-shadow: 0 0 1px #888;
    box-shadow: 0 0 1px #888;
}

#accordion .icon-basket
{
    color: #16a765;
}

#accordion .ui-accordion-header.ui-state-active
{
    border-top: 3px solid #4B8DF8;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-left-color: #F4F4F4;
    border-right-color: #F4F4F4;
    border-bottom-color: #C0C0C0;
}

#accordion .ui-accordion-content.ui-accordion-content-active
{
    border-radius: 0;
}

#accordion .ui-state-active a, .ui-state-active a:link, #accordion .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited
{
    color: #777;
    line-height: 16pt;
    font-size: 18px;

}

#accordion .ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link
{
    color: black;
}

#accordion .ui-state-hover .icon-cart
{
    color: #607890;
}

#accordion .ui-accordion-header
{
    margin-top: 10px;
}

#accordion .ui-accordion-header
{
    background-color: white;
    background-image: none;
}


#header
{
    height: 50px;
    font-size: 25px;
    width: 100%;
    background: #F5F5F5;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 11;
    border-bottom: 1px solid #999;
}


.gl-brand
{
    float: left;
    padding: 7px 5px 5px 10px;
    width: 55px;
    color: white;
    height: 49px;
    border-radius: 1px;
    /*border: 1px solid #3f980e;*/
}

.menuitem
{
    color: #737373;
    cursor: pointer;
    margin-top: 15px;
    float: right;
    margin-right: 10px;
    margin-left: 5px;
    font-size: 20px;
}

    .menuitem :hover, .menuitem :active
    {
        color: black;
    }

    .menuitem .btn-label
    {
        text-shadow: 0 1px #000000;
        text-shadow: 0 1px rgba(0, 0, 0, 0.1);
        color: #737373;
        font-size: 13px;
    }

.footer
{
    text-align: center;
    padding: 10px;
    text-shadow: 0 1px #000000;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    color: #737373;
    font-size: 13px;
    cursor: pointer;
    font-style: italic;
    width: 100%;
}

hr.style-one
{
    margin-top: 1px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
/*modal*/

#dialog.ui-dialog-content
{
    color: #737373;
}


.check-btn
{
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 2px;
    cursor: pointer;
    background: #F5F5F5;
    margin-right: 5px;
    -webkit-transition: border-color 1s ease;
    -moz-transition: border-color 1s ease;
    -o-transition: border-color 1s ease;
    -ms-transition: border-color 1s ease;
    transition: background 1s ease;
}


    .check-btn.check-down
    {
        color: white;
        background: #67ae3f;
        /* background: -webkit-gradient(linear,left top,left bottom,from(#77bb4e),to(#57a02f));*/
        border: 1px solid #3f980e;
    }

    .check-btn .status
    {
        display: none;
    }

    .check-btn.check-down .status
    {
        display: inline-block;
        color: black;
        margin-right: 2px;
        opacity: 0.4;
    }

    .check-btn.content-settings, .ui-dialog-buttonset .ui-button.ui-state-default
    {
        float: left;
        width: 50px;
        margin-right: 3px;
        text-align: center;
        color: white;
        text-shadow: 0 1px #000000;
        text-shadow: 0 1px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        font-weight: bold;
        background: #4B8DF8;
        background: -webkit-linear-gradient(top, #4C8FFD, #4787ED);
        background: -moz-linear-gradient(top, #4C8FFD, #4787ED);
        background: -ms-linear-gradient(top, #4C8FFD, #4787ED);
        background: -o-linear-gradient(top, #4C8FFD, #4787ED);
        -webkit-transition: border .20s;
        -moz-transition: border .20s;
        -o-transition: border .20s;
        transition: border .20s;
        border-color: #4C8FFD;
        border-radius: 3px;
    }

        .check-btn.content-settings:hover, .ui-dialog-buttonset .ui-button.ui-state-default.ui-state-hover
        {
            -moz-box-shadow: 0 0 1px #4C8FFD;
            -webkit-box-shadow: 0 0 1px #4C8FFD;
            box-shadow: 0 0 1px #4C8FFD;
        }

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all,
.ui-dialog-titlebar.ui-widget-header.ui-corner-all
{
    border-radius: 0 !important;
    background: white;
    border-color: white;
}


/*dialogs*/
.ui-dialog-title
{
    color: #737373 !important;
    line-height: 16pt;
    text-shadow: 0 1px #000000;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    font-weight: bold;
}

@font-face
{
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot');
    src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before
{
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-cart, .icon-pencil, .icon-cart-2, .icon-file, .icon-file-2, .icon-fire, .icon-cog, .icon-cart-3, .icon-share, .icon-cart-4, .icon-upload, .icon-cloud-upload, .icon-info, .icon-signup, .icon-cogs, .icon-play, .icon-check-alt, .icon-basket, .icon-hammer, .icon-pencil-2, .icon-download, .icon-eye-blocked, .icon-plus, .icon-bell, .icon-yahoo, .icon-tags, .icon-redo, .icon-search, .icon-checkmark-circle, .icon-cancel-circle
{
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

    .icon-cart:before
    {
        content: "\e000";
    }

    .icon-pencil:before
    {
        content: "\e001";
    }

    .icon-cart-2:before
    {
        content: "\e002";
    }

    .icon-file:before
    {
        content: "\e003";
    }

    .icon-file-2:before
    {
        content: "\e004";
    }

    .icon-fire:before
    {
        content: "\e005";
    }

    .icon-cog:before
    {
        content: "\e006";
    }

    .icon-cart-3:before
    {
        content: "\e007";
    }

    .icon-share:before
    {
        content: "\e008";
    }

    .icon-cart-4:before
    {
        content: "\e009";
    }

    .icon-upload:before
    {
        content: "\e00a";
    }

    .icon-cloud-upload:before
    {
        content: "\e00b";
    }

    .icon-info:before
    {
        content: "\e00c";
    }

    .icon-signup:before
    {
        content: "\e00d";
    }

    .icon-cogs:before
    {
        content: "\e00e";
    }

    .icon-play:before
    {
        content: "\e00f";
    }

    .icon-check-alt:before
    {
        content: "\e010";
    }

    .icon-basket:before
    {
        content: "\e011";
    }

    .icon-hammer:before
    {
        content: "\e012";
    }

    .icon-pencil-2:before
    {
        content: "\e013";
    }

    .icon-download:before
    {
        content: "\e014";
    }

    .icon-eye-blocked:before
    {
        content: "\e015";
    }

    .icon-plus:before
    {
        content: "\e016";
    }

    .icon-bell:before
    {
        content: "\e017";
    }

    .icon-yahoo:before
    {
        content: "\e018";
    }

    .icon-tags:before
    {
        content: "\e019";
    }

    .icon-redo:before
    {
        content: "\e01a";
    }

    .icon-search:before
    {
        content: "\e01b";
    }

    .icon-checkmark-circle:before
    {
        content: "\e01c";
    }

    .icon-cancel-circle:before
    {
        content: "\e01d";
    }
